:root {
  --gray: #212121;
  --lightgrey: #616161;
  --bodygrey: #424242;
  --footergray: #212429;
}

body{
  color: var(--bodygrey);
  font-family: 'Roboto', sans-serif;
}

header{
  font-size: 14px;
  color: var(--lightgray);
}

header a{
  color: var(--lightgrey);
  text-decoration: none;
}
header a:hover{
  color: var(--gray);
}

header p{
  color: var(--lightgrey);
}
nav details summary{
  font-weight: bold;
  color: var(--lightgrey);
}

h1{
  font-size: 60px;
  color: var(--gray);
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

.section-content h3{
  counter-increment: titlelist;
}

pre{
  background: #FEC62E;
}

.hero{
  background-image: linear-gradient(to top, rgba(255, 255, 255, .20), transparent), url('../images/patron.png');
  height: 350px;
}

.section-content h3::before{
  content: counter(titlelist, decimal);
}

.section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: var(--bodygrey);
  display: inline-block;

}